.p1 .content-img-background {
    background-image:url('../images/grand-canyon.jpg');
}

.p2 .content-img-background {
    background-image:url('../images/bodega-headlands.jpg');
}

.p3 .content-img-background {
    background-image:url('../images/sedona-arizona.jpg');
}

.p4 .content-img-background {
    background-image:url('../images/reefshark.jpg');
}

.p5 .content-img-background {
    background-image:url('../images/seaturtle.jpg');
}

.p6 .content-img-background {
    background-image:url('../images/sealion.jpg');
}

.p7 .content-img-background {
    background-image:url('../images/vancouver-island.jpg');
}

.p8 .content-img-background {
    background-image:url('../images/salt-springs-island.jpg');
}

.p9 .content-img-background {
    background-image:url('../images/tomales-point.jpg');
}
