.nav-box {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    padding: 0 30px;
}

.nav-left {
    display: flex;

}

.brand {
    font-weight: 900;
}

.nav-box > .nav-left > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 400;
}

.nav-link-box {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-box a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-box:hover {
    border-bottom: 1px solid black;
}

.nav-link-box a:hover {
    border-bottom: black;
}

.active-nav-link{
    border-bottom: 1px solid lightseagreen;
}

.active-nav-link {
    color: lightseagreen !important;
}